version: "3.3"
services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_DB_FILE: /run/secrets/postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    secrets:
      - postgres_password
      - postgres_user
      - postgres_db

  backend:
    image: ghcr.io/taltech-vanemarendajaks/team31-borsibaar-backend:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_USERNAME_FILE: /run/secrets/postgres_user
      SPRING_DATASOURCE_PASSWORD_FILE: /run/secrets/postgres_password
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/borsibaardb
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      JWT_SECRET_FILE: /run/secrets/jwt_secret
      GOOGLE_CLIENT_ID_FILE: /run/secrets/google_client_id
      GOOGLE_CLIENT_SECRET_FILE: /run/secrets/google_client_secret
      APP_FRONTEND_URL: ${APP_FRONTEND_URL}
    depends_on:
      - postgres
    restart: unless-stopped
    secrets:
      - postgres_user
      - postgres_password
      - postgres_db
      - jwt_secret
      - google_client_id
      - google_client_secret

  frontend:
    image: ghcr.io/taltech-vanemarendajaks/team31-borsibaar-frontend:latest  
    ports:
      - "3000:3000"
    environment:
      BACKEND_URL: https://team31.sk0ut.dev/api/
      NEXT_PUBLIC_BACKEND_URL: https://team31.sk0ut.dev/api/
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  postgres_data:

secrets:
  postgres_user: 
    external: true
  postgres_password:
    external: true 
  postgres_db:
    external: true
  jwt_secret:
    external: true
  google_client_id:
    external: true
  google_client_secret:
    external: true